/* *{
    overflow:scroll;
} */
body {
    display: flex;
    justify-content: center;
    overflow: scroll;    
}
#msg-container {
    position: fixed;
    width: 50%;
    bottom: 15%;
    /* background: teal; */
    /* overflow-y: scroll;    */
}

#msg-container p {
    padding-left: 2%;
    
}

/* #msg-container div:nth-child(2n) {
    background-color: #FFF;
} */
#send-msg {
    border: 2px solid #dedede;
    border-radius: 5px;
    border-color: #ccc;
    background-color: #ddd;
    margin-left: 35%;
    margin-bottom: 1%;
}

#recv-msg {
    border: 2px solid #dedede;
    border-radius: 5px;
    border-color: #dedede;
    background-color: #f1f1f1;
    margin-right: 35%;
    margin-bottom: 1%;
}

#send-container {
    position: fixed;
    padding: 0.5%;
    bottom: 5%;
    background-color: white;
    max-width: 50%;
    width: 50%;
    display: flex;
    border: 2px solid #dedede;
    border-color: #ccc;
    background-color: #ddd;
    outline: none;
    border-radius: 5px;
}

#msg-input {
    width: 90%;
    padding: 1%;
    outline: none;
    border: none;
    border: 2px solid #ccc;
    border-radius: 10px;
    flex-grow: 1;
}

#send-button{
    width: 10%;
    padding: 1%;
    outline: none;
    border: 2px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
}
#send-button:hover{
    background-color:#dedede;
}